body{
background-image: linear-gradient(to right,#8e9eab 0%, #eef2f3 100%)
}

.btn-success { 
    background-color: #159957;
    border-color: #159957;
}

.btn-primary {
    background-color: #2980b9;
    border-color: #2980b9;
}

.btn-danger {
    background-color: #c31432;
    border-color:  #c31432;
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: #2980b9;
    border-color: #2980b9;
}

.text-success { color: #159957;}

.text-primary {color: #2980b9;}

.text-danger {color: #c31432;}



